:root {
  /* color */
  --biru: #0e1555;
  --kuning: #ffd717;
  --abu-abu: #7b7b7b;
  --putih: #ffffff;

  /* font */
  --poppins: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 400px;
  height: 600px;
  background-color: #0e1555;
}

.masuk .close {
  display: flex;
  position: absolute;
  margin-left: 345px;
  margin-top: 10px;
}

.close img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.content-1 {
  max-width: 280px;
  height: 450px;
}
.masuk .container {
  margin: auto;
  margin-top: 25px;
  border-radius: 20px;
}
.masuk .content-1 {
  margin: auto;
}

/* judul */
.masuk .judul {
  padding-top: 80px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: var(--poppins);
  color: var(--kuning);
}

/* nama */
.masuk .nama {
  margin-top: 30px;
}

.form-control-nama {
  position: relative;
  width: 100%;
}

.form-control-nama input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 15px;
  color: #fff;
}

.form-control-nama input:focus,
.form-control-nama input:valid {
  outline: 0;
  border-bottom-color: var(--kuning);
}

.form-control-nama label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control-nama label span {
  display: inline-block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control-nama input:focus + label span,
.form-control-nama input:valid + label span {
  color: var(--putih);
  transform: translateY(-30px);
}

/* email */
.masuk .email {
  margin-top: 25px;
}

.form-control-email {
  position: relative;
  width: 100%;
}

.form-control-email input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 15px;
  color: #fff;
}

.form-control-email input:focus,
.form-control-email input:valid {
  outline: 0;
  border-bottom-color: var(--kuning);
}

.form-control-email label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control-email label span {
  display: inline-block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control-email input:focus + label span,
.form-control-email input:valid + label span {
  color: var(--putih);
  transform: translateY(-30px);
}

/* pass */
.masuk .pass {
  margin-top: 25px;
}

.form-control-pass {
  position: relative;
  width: 100%;
}

.form-control-pass input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 15px;
  color: #fff;
}

.form-control-pass input:focus,
.form-control-pass input:valid {
  outline: 0;
  border-bottom-color: var(--kuning);
}

.form-control-pass label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control-pass label span {
  display: inline-block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control-pass input:focus + label span,
.form-control-pass input:valid + label span {
  color: var(--putih);
  transform: translateY(-30px);
}

/* ceklis */
.masuk .ceklis {
  display: flex;
}
.ceklis .cbx {
  position: relative;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #7b7b7b;
  background-color: var(--putih);
  border-radius: 3px;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}
.cbx:after {
  content: "";
  position: absolute;
  left: 4px;
  width: 5px;
  height: 10px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
#cbx:checked ~ .cbx {
  border-color: transparent;
  background: var(--kuning);
  animation: jelly 0.6s ease;
}
#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.cntr {
  position: relative;
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
.hidden-xs-up {
  display: none !important;
}
.ceklis .subheading {
  padding-top: 10px;
  padding-left: 10px;
  color: var(--putih);
  font-size: 13px;
  font-family: "Arial", sans-serif;
}
.subheading span {
  color: #ffd717;
}

/* button */
.masuk .button {
  margin-top: 45px;
}
.button #btn-buatakun {
  width: 100%;
  height: 45px;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  background: #ffd717;
  color: #ffffff;
}

#btn-buatakun:hover {
  animation: squeeze3124 0.9s both;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
}

@keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* punya */
.masuk .punya {
  margin-top: 20px;
}
.punya p {
  text-align: center;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  color: var(--putih);
}
.punya span {
  color: var(--kuning);
}

/* Responsive Mobile */
@media screen and (max-width: 576px) {
  .container {
    max-width: 350px;
    height: 600px;
    background-color: #0e1555;
  }
  .masuk .close {
    display: flex;
    position: absolute;
    margin-left: 305px;
    margin-top: 10px;
  }
  .close img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .masuk .kembali {
    display: flex;
    position: absolute;
    padding-top: 30px;
    padding-left: 30px;
  }
  .kembali img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .content-1 {
    max-width: 250px;
  }
  .masuk .container {
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
  }
  .masuk .content-1 {
    margin: auto;
  }
  .masuk .judul {
    padding-top: 80px;
    font-size: 25px;
  }

  .masuk .email {
    margin-top: 25px;
  }
  .button #btn-buatakun {
    margin-top: 30px;
  }
}
